
<% artifact = Artifact.all %>
    <% artifact.each do |xx| %>
    <div class="somerow">
        <h4><%= xx.name %></h4>
    </div>
    <div class="somerow">
        <%= xx.key %>
    </div>
    <% end %>